header {
  padding-top: 30px;
}
.addCv-title{
  font-size:250%;
  text-align: center;
  font-weight: bold;
}

.body {

  background-color: #e2e2e2;
  
}
.container1 {

  max-width: 1000px;
  margin: auto;
}

.information-box {
  box-shadow: 0 3px 25px rgb(10, 48, 82);
  padding: 20px;
  background-color: rgb(221, 232, 237);
  margin-top: 20px;
  border-radius: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
}

label {
  font-size: 15px;
  margin-bottom: 5px;
}
.fab-SelectInput{
  font-size: 15px;
  width: 100%;
}
.form-select{
  width: 100%;
}



