.title {
  font-size: 30px;
  font-weight: 1000;
  text-align: left;
  padding-top: 30px;
  padding-left: 80px;
}

.select {
  margin-top: 10px;
  max-width: 1000px;
  text-align: left;
  padding-left: 80px;
}

.select-group {
  width: 900px;
  padding-left: 80px;
  padding-top: 20px;
}

select {
  width: 920px;
  padding: 10px;
  background-color: rgb(235, 230, 230);
  border-radius: 10px;
  padding-left: 80px;
}

label {
  font-size: large;
  padding-top: 30px;

}

select:focus {
  outline-color: rgb(32, 177, 255);
}

input {
  width: 920px;
  padding: 10px;
  background-color: rgb(235, 230, 230);
  border-radius: 10px;
}


.form-input {
  width: 920px;
  padding-left: 80px;
}

button {
  width: 40%;
  height: 48px;
  background-color: rgb(32, 177, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.25);
}

.form-date {
  width: 1000px;
  padding-left: 80px;
  padding-top: 30px;
}

.dropdown-container {
  padding-top: 20px;
  width: 1000px;
  padding-left: 80px;
}

.select-label {
  padding-bottom: 20px;
  padding-left: 80px;
}

.form-control {
  width: 920px;

}

.form-number {
  padding-left: 80px;
}

.form-floating {
  padding-left: 80px;
}

p {
  padding-left: 80px;
}