footer {
    background-color: #052236;
    margin-top: 2%;
}

.footer-motto {
    font-size: medium;
    font-family: Georgia, serif;
    color: #cacfcf;
}

.footer-logo {
    max-width: 100%;
    height: auto;
}

.logo-motto {
    flex:1;
    font-family: Georgia, serif;
    color: #cacfcf;
    flex-direction: column;
    justify-content: center;
}

.footer-contact {
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:auto;
}

.loc,.email,.phone {
    color: #cacfcf;
    font-size: 140% 150% 160%;
    width: 100%;
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 1% 1%;  
    border-radius: 10%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    color: white;
}

.fa-facebook {
    color: white;
    padding-left: 12px;
    padding-right: 12px
}

.fa-linkedin {
    color: white;
}

.fa-slack{
    color: white;
}
.copy-right{
    color:#cacfcf;
    font-family: Georgia, serif;
}

.footer-body{
    width: 100%;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
iframe{
    height: auto;
    width: 80%;
}