#get-cv-container {
  background-color: #e2e2e2;
  position: relative;
}
#get-cv-cover {
  position: relative;
  text-align: center;
  color: white;
}
#get-cv-header {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #295984;
}
#get-cv-cover img {
  margin-top: 65px;
}

@media only screen and (max-width: 870px) {
  #get-cv-header {
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
  #get-cv-header {
    font-size: 20px;
  }
}
