.nav-brand {
    color: #adb5bd;
    font-family: Garamond, serif;
}

#logo {
    width: 10rem;

}

.nav-links:hover {
    color: white;
}

.nav-links {
    color: #a8b4c0;
}

.navbar {
    background-color: #052236;
}

.navbar-nav .dropdown-menu {
    background-color: #052236;
    border: none;
}

.navbar-nav .dropdown-item {
    color: #adb5bd;
}

.dropdown-item:hover {
    background-color: #0b2d4c;
}

.dropdown-toggle::after {
    color: #adb5bd;


}

.btn.navbar-toggler {
    padding: 0;
    border: none;
    height: 30px;
    width: 36px;
    margin: 0px;
    border-radius: 1px;
    font-size: 15px;
    margin-right: 47px;
}

.btn.navbar-toggler:hover {
    background-color: #052236;
    border-color: #052236;
}

.nav-login:hover {
    background-color: #052236;
}

.nav-login {
    color: #a8b4c0;
    width: 7%;
    height: 44px;
    background-color: #052236;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border: none;
    border-style: outset;
    border-image: initial;
    margin-right: 52px;
}

@media only screen and (max-width: 992px) {
    .nav-login {
        border: none;
    }
}