.openedSortList {
  background-image: url("../../../public/images/opened-list-icon.png");
  height: 250px;
}
.closedList {
  background-image: url("../../../public/images/closed-list-icon.png");
  height: 40px;
}
.openedCityList {
  background-image: url("../../../public/images/opened-list-icon.png");
  height: 420px;
}
.openedPositionList {
  background-image: url("../../../public/images/opened-list-icon.png");
  height: 205px;
}
