.tableFooter {
  padding: 8px 0px;
  font-weight: 500;
  text-align: left;
  font-size: 16px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  overflow-x: auto;
  width: 1000px;
  margin-left: 30px;
  max-width: 500px;
}

.button {
  border: none;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 0px;
}

.activeButton {
  color: white;
  background: #212529;
}

.inactiveButton {
  color: rgba(255, 255, 255, 0.205);
  background: #2c3034;
}
#fullTableFooter {
  display: flex;
  justify-content: center;
}
.flButton {
  border: none;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
  width: 50px;
  padding-top: 10px;
  color: white;
}

.tableFooter::-webkit-scrollbar {
  height: 4px;
}

.tableFooter::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tableFooter::-webkit-scrollbar-thumb {
  background: #888;
}

.tableFooter::-webkit-scrollbar-thumb:hover {
  background: #555;
}
