#logo{
    width: 150px;
}

#navb > a:link { text-decoration: none; color: #c0c3c5;}
#navb > a:visited { text-decoration: none; color: #c0c3c5;}
#navb > a:hover { text-decoration: none; color: #c0c3c5;}
#navb > a:active { text-decoration: none; color: #c0c3c5;}
.drop_down > a:link { text-decoration: none !important; color: black !important;}
.drop_down > a:visited { text-decoration: none !important; color: black !important;}
.drop_down > a:hover { text-decoration: none !important; color: black !important;}
.drop_down > a:active { text-decoration: none !important; color: black !important;}

.nav_content{
    margin-right: 50px;
}
@media only screen and (max-width:767px){
.nav_canvas{
    max-width: 200px !important;
}
}
.navbar{
    margin-bottom: 100px;
    background-color: #052236 !important;

}