#logo{
    width: 3cm;
}

a:link { text-decoration: none; color: #c0c3c5;}
a:visited { text-decoration: none; color: #c0c3c5;}
a:hover { text-decoration: none; color: #c0c3c5;}
a:active { text-decoration: none; color: #c0c3c5;}
.drop_down{
    color: black !important;
}
.drop_down > a:link { text-decoration: none !important; color: black !important;}
.drop_down > a:visited { text-decoration: none !important; color: black !important;}
.drop_down > a:hover { text-decoration: none !important; color: black !important;}
.drop_down > a:active { text-decoration: none !important; color: black !important;}

.nav_content{
    margin-right: 50px;
}
@media only screen and (max-width:767px){
.nav_canvas{
    max-width: 200px !important;
}
}