.cover {
    background-color: white;
    width: 400px;
    height: 50%;
    border-radius: 50px;
    box-shadow: 0 3px 25px #052236;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-input {
    border: none;
    background-color: #F1F1E6;
    width: 75%;
    border-radius: 12px;
    text-align: center;
    padding: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login-input:focus {
    outline-color: #009BF9;
}

.login-btn {
    width: 40%;
    height: 48px;
    background-color: #009BF9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

.login-btn:hover {
    transform: scale(1.25);
}

.face-login {
    width: 70%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.login-text {
    color: #052236;
    font-weight: bold;
}