.cover {
    background-color: white;
    width: 90%;
    height: 50%;
    position: relative;
    border-radius: 50px;
    box-shadow: 0 3px 25px rgb(31, 25, 68);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    border: none;
    background-color: rgb(229, 226, 226);
    width: 80%;
    border-radius: 4px;
    text-align: center;
    padding: 32px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input:focus {
    outline-color: rgb(32, 177, 255);
}

.login-btn {
    width: 40%;
    height: 48px;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login-btn:hover {
    transform: scale(1.25);
}

.text {
    position: relative;
    bottom: 0.5%;
}

.google {
    background-image: url("../../../public/images/google1.png");
}

.facebook {
    background-image: url("../../../public/images/Facebook12.png");
}

.alt-login {
    width: 80%;
    height: 48px;
    display: flex;
    justify-content: space-around;
}

.alt-login div {
    width: 40%;
    height: 90%;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgb(83, 106, 205);
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

h1,
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}