.signUp-page {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #F1F1E6;*/
    /*This background from google*/
    background: linear-gradient(rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)),
        url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 20px;
}

.signUp-cover {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 25px #052236;
    padding: 10px 60px;
    width: 600px;
}

.signUp-header {
    font-weight: bold;
    color: #052236;
    text-align: center;
}

.signUp-button {
    width: 50%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #009BF9;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    display: block;
    margin-top: 15px;
}