#filters {
  width: 250px;
  height: fit-content;
  background-color: #295984;
  margin-right: 10px;
  border-radius: 20px;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  color: white;
}
#sortBy {
  width: 100%;
  text-align: start;
  padding: 10px;
  background-color: inherit;
  border-width: 0px;
}
#filterHead {
  white-space: nowrap;
}
.filterComponent {
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: white;
}

.filterComponent input {
  width: fit-content;
  margin-right: 5px;
}
.filterComponent label {
  font-size: 15px;
  padding: 0px;
  width: fit-content;
  color: rgba(255, 255, 255, 0.61);
}

#sortByForm,
#citiesForm,
#positionForm {
  overflow: hidden;

  border-bottom: solid;
  padding-bottom: 10px;
  border-color: #d19b49;
  border-width: 1px;
  transition: height 1s, background-image 0.1s;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 100% 17px;
}
.filterHeaders {
  font-size: 17px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

#clearFilters {
  font-size: 13px;
  margin-top: 4px;
  cursor: pointer;
  color: #d19b49;
  float: right;
}
@media only screen and (max-width: 1270px) {
  #filters {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 150px;
  }
  #filterHead {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    table-layout: fixed;
  }
  .filterComponent {
    width: 90%;
    margin-left: 1%;
    margin-right: 1%;
    z-index: 10;
  }
  .filterComponent input {
    margin-left: 10px;
  }
  .filterComponent form {
    border-radius: 10px;
  }
  .filterHeaders {
    text-align: center;
  }
  #filterBody {
    display: flex;
    width: 100%;
  }
}

@media only screen and (max-width: 870px) {
  #filters {
    width: 90%;
  }
  .filterComponent input {
    width: 8px;
    height: 10px;
  }
  .filterComponent label {
    font-size: 10px;
    margin: 0px;
  }
}
@media only screen and (max-width: 370px) {
  #filters {
    padding-left: 5px;
    padding-right: 5px;
  }
}
