

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 360px;
    box-shadow: 0 5px 25px rgba(80, 68, 252, 0.15);
    border-radius: 10px;
    padding: 20px;
    margin: 25px;
    transition: 0.7s ease;
    height: 500px;
    
}
.services-links:link { text-decoration: none; color: black !important;}
.services-links:visited { text-decoration: none; color: black !important;}
.services-links:active { text-decoration: none; color: black !important;}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: 340px;
}
.card h2{
    text-align: center;
    margin-top: 12px;
    color: rgb(78,78,78);
    font-size: 1.7em;
    font-weight: 700;
}
