.services-links:link {
    text-decoration: none;
    color: black !important;
}

.services-links:visited {
    text-decoration: none;
    color: black !important;
}

.services-links:active {
    text-decoration: none;
    color: black !important;
}

.card-title {
    text-align: center;
    color: rgb(78, 78, 78);
    font-size: 1.7em;
    font-weight: 700;
}

.cards-services p {
    font-size: 16px;
}

.cards-services {
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(80, 68, 252, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}